
.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #1d1922;
    border-bottom: 3px solid #7b0e0e;
    border-left: 2px solid #360f67;
    border-right: 4px solid #33323b;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    background: inherit;
    display: block;
    text-align: center;
    padding: 4px 2px;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .loader-wrapper{
    height: 100vh;
    background: hsla(150, 25%, 98%, 0.5);
    position: absolute;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


  .p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  